{% extends "CrudApp/layout.html" %}

{% block title %}
    Email
{% endblock %}

{% block main %}

    {{ message }}

    <input type ="hidden" id ="token" value="{{token}}">
    <div id="response"></div>
    <script>

        /* save token in browser */
        token = document.getElementById("token").value;
        window.onload = function(){
            window.localStorage.setItem("b_token",token)
        };

    </script>
{% endblock %}