{% extends "CrudApp/layout.html" %}

    {% block title %}
    Email
    {% endblock %}

{% block main %}

    <form action="#" onsubmit="addEmail()">
        <div>
            <input autocomplete="off" id="add_new_email" placeholder="Type email" type="text">
        </div>
        <br>
        <button class="btn btn-primary" id="btn" type="submit" onClick="addEmail()">Add email</button>
    </form>
    <div id="response"></div>
    <script>

        function addEmail() {
            console.log("message")
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200){
                    document.getElementById("response").innerHTML = JSON.parse(xhr.responseText);
                    console.log(xhr.responseText);
                }
            };
            xhr.open('POST', 'https://api.github.com/user/emails');
            xhr.setRequestHeader("Accept", "application/vnd.github.v3+json")
            xhr.setRequestHeader("Authorization", "token " +localStorage.getItem("b_token"))
            var email = document.getElementById("add_new_email").value
            console.log(email)
            var data = JSON.stringify({"emails":[email]});
            xhr.send(data);
        }
    </script>

{% endblock %}