{% extends "CrudApp/layout.html" %}

    {% block title %}
    Email
    {% endblock %}

{% block main %}

    <form action="#" onSubmit="emailVisibility()">
        <div>
            <input autocomplete="off" id="v_email" placeholder="Type email" type="text">
            <select id="visibility">
                <option value = "public">Public</option>
                <option value = "private">Private</option>
            </select>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Update visibility</button>
    </form>
    <div id="response"></div>
    <script>

    function emailVisibility() {
        console.log("message")
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200){
                document.getElementById("response").innerHTML = xhr.responseText;
                console.log(xhr.responseText);
            }
        };
        xhr.open('PATCH', 'https://api.github.com/user/email/visibility');
        xhr.setRequestHeader("Accept", "application/vnd.github.v3+json");
        xhr.setRequestHeader("Authorization", "token " +localStorage.getItem("b_token"));
        var email = document.getElementById("v_email").value;
        var visibility = document.getElementById("visibility").value;
        console.log(email);
        console.log(visibility);
        var data = JSON.stringify({"email":email,"visibility":visibility});
        xhr.send(data);
    }
    </script>


{% endblock %}