{% extends "CrudApp/layout.html" %}

    {% block title %}
    Email
    {% endblock %}

{% block main %}

    <form action="#" onSubmit="listEmails()">
        <br>
        <button class="btn btn-primary" id="list_emails" type="submit">List emails</button>
    </form>
    <div id="response"></div>
    <script>

    function listEmails() {
        console.log("message")
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200){
                document.getElementById("response").innerHTML = xhr.responseText;
                console.log(xhr.responseText);
            }
        };
        xhr.open('GET', 'https://api.github.com/user/emails');
        xhr.setRequestHeader("Accept", "application/vnd.github.v3+json");
        xhr.setRequestHeader("Authorization", "token " +localStorage.getItem("b_token"));
        var email = document.getElementById("list_emails").value;
        console.log(email);
        var data = JSON.stringify({"emails":[email]});
        xhr.send(data);
    }
    </script>

{% endblock %}